<ion-header>
  <ion-navbar color="primary">
      <ion-buttons end>
        <button ion-button (click)="gotoProfile()">
          Edit
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <section class="profile-image" (click)="updateImg()">
    <img [src]="user?.profileImgURL || 'assets/imgs/logo/profile.png'" />
    <p>{{user?.fullName}}</p>
    <ion-item>
      <ion-icon color="primary" name="mail" item-start></ion-icon>
      {{user?.email}}
    </ion-item>
    <ion-item>
      <ion-icon color="primary" *ngIf="user?.gender == 'MALE'" name="male" item-start></ion-icon>
      <ion-icon color="primary" *ngIf="user?.gender == 'FEMALE'"name="female" item-start></ion-icon>
      <ion-icon color="primary" *ngIf="user?.gender == 'OTHER'"name="md-person" item-start></ion-icon>
      {{user?.gender}}
    </ion-item>
  </section>
  <ion-list>
    <button ion-item *ngIf="userID == user?.key"  (click)="gotoAdvertise()">
      Advertisement
    </button>  
  </ion-list>
  <ion-list-header *ngIf="posts?.length > 0">
    Posts
  </ion-list-header>
  <section class="status-card" *ngFor="let post of posts">
      <post [post]="post" [showlikes]="false"></post>
  </section>


</ion-content>